<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add an Item</title>

    <div th:fragment="header">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!--Bootstrap CSS-->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Belgrano|Flamenco&display=swap" rel="stylesheet">
    </div>

</head>
<body style="background-color: seagreen">

<div th:fragment="navbar" style="background-color: slategray">
    <div class="row">
        <div class="col">
            <div class="nav">
                <div class="navbar-nav" id="firstItem">
                    <img src = "https://res.cloudinary.com/ascension-enterprises/image/upload/v1566592764/mlj1tttewvrn9n2yyabt.gif" alt = "Logo" />
                </div>
            </div>
        </div>
        <div class="col">
            <div class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:align="top" style="color: whitesmoke" href="#">Welcome <span
                        th:text="${#authentication.name}"></span></a>
            </div>
        </div>
        <div class="col">
            <div class="nav-item" sec:authorize="!isAuthenticated()">
                <a class="nav-link" style="color: whitesmoke" href="/login">Login</a>
            </div>
        </div>
        <div class="col">
            <ul class="navbar-nav">
                <div class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" style="color: whitesmoke" href="/register">Register</a>
                </div>
            </ul>
        </div>
        <div class="col">
            <ul class="navbar-nav">
                <div class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: whitesmoke" href="/logout">Logout</a>
                </div>
            </ul>
        </div>
    </div>
</div>

<br> <br>
<div class="container" style="background-color: lightyellow">
    <br>
    <center>
    <h1>Todo List</h1>
        <br>
    <div sec:authorize="!isAuthenticated()">
        <b>
        <p><a style="color: black" href="/register"><h3>Register</h3></a></p>
        <p><a style="color: black" href="/login"><h3>Login</h3></a></p>
        </b>
        <br>
    </div>
    </center>
</div>

<li sec:authorize="isAuthenticated()">
<a href="/add">Add a Task</a><br />
<table>
    <tr>
        <th>Task Name</th>
        <th>Due Date</th>
        <th>Priority</th>
    </tr>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.taskName}"></td>
        <td th:text="${todo.dueDate}"></td>
        <td th:text="${todo.priority}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${todo.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${todo.id})}">Details</a>
            <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
        </td>
    </tr>
</table>
</li>

<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container" th:fragment="footnote">
    <footer>
        <center>
            <div class="footer-main-div" style="alignment: center">
                <p style="color:greenyellow; ">&copy; Copyright 2019 John Anderjaska.</p>
            </div>
        </center>
    </footer>
    </footer>
</div>

</body>
</html>