<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>

</head>
<body style="background-color: seagreen">

<div th:replace="base::navbar"></div>

<a href="/">Show all tasks</a><br />
Task: <span th:text="${todo.taskName}" ></span>
Due Date: <span th:text="${todo.dueDate}" ></span>
Priority: <span th:text="${todo.priority}" ></span>
<a th:href="@{/delete/{id}(id=${todo.id})}">Delete this task</a>

</body>
</html>