<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:font-family="http://java.sun.com/xml/ns/persistence/orm" xmlns:width="http://www.w3.org/1999/xhtml"
      xmlns:border-collapse="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show Users</title>

    <th:block th:insert="base :: header"></th:block>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>
<body style="background-color: seagreen">

<div th:replace="base::navbar"></div>
<br>

<div class="nav-item" sec:authorize="!hasAnyAuthority('ADMIN')">
    <h2 style="color: red">Access to this Page is for Administrators Only</h2>
</div>

<div class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
    <br>
    <div class="container">
        <center><h3>List of Users</h3></center>
        <br>
        <table style="border: slateblue">
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>email</th>
                <th>Role</th>
                <th>Options</th>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:each="role: ${user.roles}">
                    <span th:text="${role.role}"></span>
                </td>
                <td>
                    <b>
                    <a style="color: black" th:href="@{/update/{id}(id=${user.id})}">Update</a>
                    <a style="color: black" th:href="@{/detail/{id}(id=${user.id})}">Details</a>
                    <a style="color: black" th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
                    </b>
                </td>
            </tr>
        </table>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container" th:fragment="footnote">
    <footer>
        <center>
            <div class="footer-main-div" style="alignment: center">
                <p style="color:greenyellow; ">&copy; Copyright 2019 John Anderjaska.</p>
            </div>
        </center>
    </footer>
    </footer>
</div>

</body>
</html>