<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Show Users</title>

    <th:block th:insert="base :: header"></th:block>

</head>
<body style="background-color: seagreen">

<div th:replace="base::navbar"></div>
<br>

<div class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
    <br>
    <div style="color: whitesmoke" class="container">
        <h3>List Users</h3>
        <table style="color: whitesmoke">
            <tr>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>email</th>
                <th>Role</th>
            </tr>
            <tr th:each="user: ${users}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:each="role: ${user.roles}">
                    <span th:text="${role.role}"></span>
                </td>
                <td>
                    <b>
                    <a style="color: whitesmoke" th:href="@{/update/{id}(id=${user.id})}">Update</a>
                    <a style="color: whitesmoke" th:href="@{/detail/{id}(id=${user.id})}">Details</a>
                    <a style="color: whitesmoke" th:href="@{/delete/{id}(id=${user.id})}">Delete</a>
                    </b>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>

</html>